{% extends 'palace/layout.html' %}
{% block title %} | {{block.super}} {% endblock %}
{% block content %}

<section id="home-section-1">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Pizza Palace</h1>
                    {% load static %}
                    <img src="{% static 'palace/assets/favicon.ico' %}" alt="">
                </div>
            </div>
        </div>
    </header>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>


{% endblock %}